[Desktop Entry]
Version=1.0
Type=Application
Name=Ihr
GenericName=Analogue clock
GenericName[de]=Analoguhr
Comment=Displays a analogue clock
Comment[de]=Zeigt eine Analoguhr an
Exec=/usr/bin/uhr
Icon=/usr/share/pixmaps/uhr.xpm
Terminal=false
Categories=Utility
StartupNotify=true

